// This configuration file controls everything for igloo
(
    version: 0.1,

    users: {
        "liams": (
            // generate with `igloo hash PASSWD`
            password_hash: "$6$xyz$IVL44asgjCQ0I2hQEd5yBF.fzuDD76Myox44EvwZE/v/ujPacqtw0le121WuQYkmg32JO/tG/EPss1/ih4TDB0",
        ),
        "maxg": (
            password_hash: "$6$xyz$2e6B9sqVo6A6BM1i9Y8KyguvI0ZizjBLxPx6fmJo4XMr2XZqC6YIjRIr1wTyexOqyATbWOlxtSo.tGb2T5fgQ1",
        ),
        "jakeb": (
            password_hash: "$6$xyz$2e6B9sqVo6A6BM1i9Y8KyguvI0ZizjBLxPx6fmJo4XMr2XZqC6YIjRIr1wTyexOqyATbWOlxtSo.tGb2T5fgQ1",
        ),
        "nickn": (
            password_hash: "$6$xyz$2e6B9sqVo6A6BM1i9Y8KyguvI0ZizjBLxPx6fmJo4XMr2XZqC6YIjRIr1wTyexOqyATbWOlxtSo.tGb2T5fgQ1",
        ),
    },

    user_groups: {
        //all is default user group
        "gr-crib": ["liams","maxg"]
    },

    //Declare permissions in a cascading manner
    permissions: {
        //(all|ZONE):(USER|USER_GROUP)
        "all": "all",
        "crib": "gr-crib",
    },

    providers: [
        ESPHome(
            default_port: 6053
        ),
    ],

    zones: {
        "crib": {
            "surf": ESPHome(
                ip: "192.168.1.18",
                noise_psk: "",
            ),
            "japan": ESPHome(
                ip: "192.168.1.116",
                noise_psk: ""
            ),
            "wakeup": PeriodicTask(
                type: Time(
                    default: "10:00 AM",
                ),
                on_change: "script run wakeup_change ${value}",
                trigger_offset: -1200,
                on_trigger: "script run brightness-change crib 100 0 1200",
            ),
            "sleep": PeriodicTask(
                type: Time(
                    default: "10:00 PM",
                ),
                on_trigger: "light crib off"
            ),
        },

        "kitchen": {
            "top": ESPHome(
                ip: "192.168.1.31",
                noise_psk: ""
            ),
            "sink": ESPHome(
                ip: "192.168.1.201",
                noise_psk: ""
            ),
            "pantry": ESPHome(
                ip: "192.168.1.17",
                noise_psk: ""
            ),
        },

        "bar": {
            "a": ESPHome(
                ip: "192.168.1.182",
                noise_psk: ""
            ),
            "b": ESPHome(
                ip: "192.168.1.63",
                noise_psk: ""
            ),
            "speakers": ESPHome(
                ip: "192.168.1.135",
                noise_psk: ""
            ),
        },

        "living": {
            "a": ESPHome(
                ip: "192.168.1.206",
                noise_psk: ""
            ),
            "b": ESPHome(
                ip: "192.168.1.205",
                noise_psk: ""
            ),
            "speakers": ESPHome(
                ip: "192.168.1.190",
                noise_psk: ""
            ),
        },
    },

    ui: [
        ("lights", [
            RGBCTLight("kitchen"),
            RGBCTLight("living"),
            RGBCTLight("bar"),
            RGBCTLight("crib"),
            Button(
                name: "all_off",
                on_click: "light all off"
            ),
            Button(
                name: "crib_off",
                on_click: "light crib off"
            ),
            Button(
                name: "example",
                on_click: "script run example"
            )
        ]),
        ("alarms", [
            Time("crib.sleep"),
            Time("crib.wakeup"),
        ])
    ],

    // Use python, rust, or ron syntax to expand functionality
    // Note: Rust scripts are declared in `src/scripts/builtin`
    scripts: {
        "example": Python(
            claims: {
                Light: ["$1"],
                Switch: ["$2"]
            },
            file: "example.py"
        ),
        "example_basic": Basic(
            claims: {
                Light: ["$1", "$2"]
            },
            body: [
                Forever([
                    Command("light $1 hue 0"),
                    Command("light $2 hue 100"),
                    Delay(500),
                    Command("light $2 hue 0"),
                    Command("light $1 hue 100"),
                    Delay(500),
                ])
            ]
        ),
        "wakeup_change": Basic(
            body: [
                HttpPost(
                    url: "http://192.168.1.43/alarm/time",
                    body: "$1"
                )
            ],
        ),
    },
)
