// This configuration file controls everything for igloo
(
    version: "0.1",

    users: [
        liams: (
            //used for website access (generate using openssl)
            password_hash: "$6$xyz$IVL44asgjCQ0I2hQEd5yBF.fzuDD76Myox44EvwZE/v/ujPacqtw0le121WuQYkmg32JO/tG/EPss1/ih4TDB0",
            api_key: "asdfjkasdhf2908jhf9dshafjkh", //used for API access outside website
        ),
        maxg: (
            password_hash: "$6$xyz$2e6B9sqVo6A6BM1i9Y8KyguvI0ZizjBLxPx6fmJo4XMr2XZqC6YIjRIr1wTyexOqyATbWOlxtSo.tGb2T5fgQ1",
        ),
    ],

    providers: [
        "esphome",
        "homekit",
    ],

    zones: (
        // set permissions for all zones
        permissions: (
            view: "all",
            modify: "all",
        ),

        bedroom: (
            // or a specific zone
            permissions: "liams", // shorthand to declare permissions (apply to both)

            ceiling_light: (
                // or a specific device, in a cascading manner
                permissions: "all",
                address: "esphome://192.168.1.124", // "PROVIDER://IP:PORT" (port can be implied, 6053 in this case)
            ),

            desk_light: "esphome://192.168.1.122", // shorthand to declare device (only address)
            ac: "esphome://192.168.1.200",
            pc_power: "esphome://192.168.1.300",
        ),

        kitchen: (
            main: "esphome://192.168.1.101",
            sink: "esphome://192.168.1.102",
        ),
    ),

    // Make automations that run at specific time, are triggered by a button, and more!
    automations: (
        bedtime: (
            // permissions inherited from devices used (can also be explicitly set)
            type: "time",
            default: "10:00PM",

            on_trigger: [
                "lights.bedroom off", // see documentation on the CLI
            ],
        ),

        party: (
            type: "button",
            on_trigger: [
                "kitchen effect rainbow",
                "living_room effect wave blue red",
                // you can use the igloo CLI or curl
                "curl -X POST 192.168.1.200 -d \"party\"",
            ],
        ),

        alarm: (
            type: "time",
            default: "10:00PM",

            trigger_offset: -1200, // offset by rise time, so the lights are 100% at the time of the alarm
            on_trigger: [
                "lights.bedroom effect rise 0 100 1200",
            ],

            // whenever the alarm time is changed
            on_change: [
                "curl -X POST 192.168.1.400/alarm/time -d \"{{TIME}}\"", // use the magic {{TIME}}
            ],
        ),
    ),
)
