.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  > div {
    border: 1px solid #333333;
    margin: 15px;
    padding: 20px;
    border-radius: 16px;
    min-width: 250px;

    > h1 {
      text-align: center;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;

  button {
    background: #111111;
    color: white;
    border: 1px solid #333333;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 50ms linear;
  }

  button:hover {
    background: #222;
  }

  > div {
    margin-bottom: 10px;

    > label {
      display: block;
    }
    > input {
      margin-top: 4px;
      background: #111111;
      color: white;
      border: 1px solid #333333;
      border-radius: 6px;
      width: 100%;
    }
  }
}
