.Container {
  border: 1px solid #333333;
  margin: 15px;
  padding: 20px;
  border-radius: 16px;

  //title
  > h2 {
    margin: 0 0 12px 6px;
    color: white;
  }

  //elements
  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    //element
    > div {
      border: 1px solid #333333;
      padding: 15px;
      border-radius: 10px;
      /* width: 220px; */

      //title
      > h3 {
        margin: 0;
      }
    }
  }
}
