input {
    width: 100%;
    padding: 0 !important;
    height: 38px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px !important;
    border: none !important;
    overflow: clip;
    cursor: grabbing;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 38px;
    border-radius: 8px;
    background: white;
    border: 2px solid #ccc;
    cursor: grabbing;
}

input::-moz-range-thumb {
    width: 4px;
    height: 38px;
    border-radius: 8px;
    background: white;
    border: 2px solid #ccc;
    cursor: grabbing;
}

.HueSlider {
    background: linear-gradient(
        to right,
        hsl(0, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%)
    );
}

.TempSlider {
    background: linear-gradient(
        to right,
        hsl(240, 100%, 93%),
        rgb(255, 177, 110)
    );
}

.BrightSlider {
  background: hsl(40, 100%, 20%);
}

.BrightSlider::-webkit-slider-runnable-track {
  box-shadow: -100vw 0 0 100vw hsl(40, 100%, 50%);
}

.BrightSlider::-moz-range-progress {
  background: hsl(40, 100%, 50%);
  height: 38px;
}
