


.Response {
  border-radius: 10px;
  background: #181818;
  padding: 10px;
  min-width: 500px;
  min-height: 100px;
  margin: 6px 0;
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 12px; */
  white-space: pre-wrap;
}

.Form {
  > * {
    display: block;
  }

  input {
    width: calc(100% - 10px);
  }

  button {
    margin-top: 10px;
  }
}
